body {
    background-color: rgb(230, 230, 230);
}
.logo {
    background: left / cover
      url("/shared-assets/images/examples/puppy-header.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
  }
  button {
    padding: 8px 15px;
    border: transparent;
    background-color: transparent;
    
}
  header > h1 {
    
  }
  article {
    border-radius: 10px;
    color: #1c266a;
    background-color: #cbcbcb;
  }
  
  header {
    left: 0px;
    color: #1c266a;
    background-color: #cbcbcb;
  }
  